{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% form_theme form_configure_audit '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'edgarezuiaudit' %}

{% block body_class %}{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.audit'|trans(domain='messages')|desc('Audit') , },
        { url: path('edgar.audit.configure'), value: 'configure.breadcrumb.view'|trans|desc('Configuration') },
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'configure.view.title'|trans|desc('Audit configuration'),
        iconName: 'filters'
    } %}
{% endblock %}

{% block content %}
    {{ form_start(form_configure_audit, {'attr': {'class': 'configure-audit'}}) }}

    <section class="container mt-4">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form_configure_audit.audit_types) }}
            </div>
        </div>

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
            <svg class="ez-icon ez-icon-search-button">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            {{ 'configure_audit.submit'|trans|desc('Submit') }}</button>
        </span>
    </section>

    {{ form_end(form_configure_audit) }}
{% endblock %}
